# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/classconnect

# Server Configuration
PORT=3000

# Security
JWT_SECRET=your_jwt_secret_here
GATEWAY_TOKEN=gateway-token

# Microservices URLs
USERS_URL=http://USERS_HOST:USERS_PORT
EDUCATION_URL=http://EDUCATION_HOST:EDUCATION_PORT
ADMINS_URL=http://ADMINS_HOST:ADMINS_PORT

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=your_client_email@your_project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour_Private_Key_Here\n-----END PRIVATE KEY-----\n"
